@import './../../variables.scss';

$title-height: 9vh;
$menu-width: 45vh;
$menu-padding: 2vh;
$addon-icon-size: 8vh;

.backdrop {
    z-index: 97;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.8;
    cursor: pointer;
}

#addons {
    z-index: 99;
}

.menu {
    z-index: 98;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: $menu-width;
    background-color: $background-color;
    overflow: hidden;

    .title {
        height: $title-height;
        line-height: $title-height;
        padding: 0 calc(#{$menu-padding} + 1vh);
    }

    .close {
        position: absolute;
        top: 2vh;
        right: 1vh;
        font-size: 4vh;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    ul {
        height: calc(100% - #{$title-height});
        overflow-y: auto;
        padding: 0 $menu-padding;
    }
}

.addon {
    display: grid;
    grid-template-columns: $addon-icon-size auto 3vh;
    column-gap: 1.5vh;
    margin-bottom: 2.5vh;
    opacity: 0.7;
    user-select: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &.active {
        opacity: 1;
    }

    &:not(.active):hover {
        opacity: 0.8;
    }

    .icon {
        display: grid;
        align-content: center;
        height: $addon-icon-size;
        width: $addon-icon-size;
        border-radius: 2vh;
        overflow: hidden;
        background-color: rgba(white, 0.1);

        img {
            width: 100%;
        }
    }

    .info {
        padding-top: 1vh;

        .name {
            font-size: 2vh;
            margin-bottom: 0.25vh;
        }

        .types {
            font-size: 1.5vh;
        }
    }

    .switch {
        font-size: 3vh;
        line-height: $addon-icon-size;
        text-align: right;

        .ion {
            vertical-align: 0 !important;
        }
    }
}