@import './variables.scss';

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: url('assets/fonts/Montserrat/Montserrat-MediumItalic.ttf');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

::-webkit-scrollbar {
  height: 0.5vh;
  width: 0.75vh;
}

::-webkit-scrollbar-track {
  background-color: rgba($text-color, 0.1);
  border-radius: 0.75vh;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($text-color, 0.75);
  border-radius: 0.75vh;

  &:hover {
    background-color: $text-color;
  }
}

::selection {
  background-color: rgba($text-color, 0.35);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  background: url('./assets/img/dunes.svg'), url('./assets/img/stars.svg'), $background-gradient;
  background-repeat: no-repeat;
  background-position: center bottom, center 10%, center;
}

p {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 1.75vh;
  color: $text-color
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ion-icon {
  vertical-align: -0.35vh;
}

.container {
  position: absolute;
  top: $header-height;
  bottom: $footer-height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: auto;

  .inner {
    overflow: hidden;
    overflow-y: auto;

    &.center {
      display: flex;
      justify-content: center;
    }
  }
}

div[class^='col-'],
div[class*=' col-'] {
  display: inline-block;
  vertical-align: top;

  &:not(.no-border) {
    padding: 0 1.5vh;
  }
}

$columns: 12;
$ratio: 100% / $columns;

@for $i from 1 through $columns {
  .col-#{$i} {
    width: ($i * $ratio);
  }
}

.flip {
  transform: rotate(180deg);
}

.danger {
  color: $danger-color;
}

.success {
  color: $success-color;
}

.accent {
  color: $accent-color;
}

.spin {
  animation: spinning 1s ease-in-out infinite;
}

.toasted-container {
  .toasted {
    height: 4vh;
    line-height: 4vh;
    border-radius: 1.5vh;
    font-family: 'Montserrat';
    background-color: $background-color;
  }
}

@keyframes spinning {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade-router-enter-active, .fade-router-leave-active {
  position: absolute;
  transition: opacity .2s;
}
.fade-router-enter, .fade-router-leave-to {
  position: absolute;
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  body {
    background: $background-gradient !important;
  }

  .container {
    bottom: 0;
    align-items: unset;

    .inner {
      padding: 2.5vh !important;
      padding-top: 3vh !important;

      &.center {
        display: block;
      }
    }
  }

  footer {
    display: none;
  }

  div[class^='col'],
  div[class*=' col'] {
    display: block;
    width: 100% !important;
    padding: 0 !important;

    &:not(.no-border) {
      padding-bottom: 4vh !important;
    }
  }
}