@import './variables.scss';

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: url('assets/fonts/Montserrat/Montserrat-MediumItalic.ttf');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

::-webkit-scrollbar {
  width: 0.75vh;
}

::-webkit-scrollbar-track {
  background-color: rgba(white, 0.35);
  border: 0.25vh solid $background-color;
}

::-webkit-scrollbar-thumb {
  background-color: $text-color;
  border-radius: 1vh;
}

::selection {
  background-color: rgba(white, 0.35);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  background: $background-gradient;
}

h2 {
  font-family: 'Montserrat';
  margin: 0;
  font-size: 3.5vh;
  font-weight: 700;
  text-transform: uppercase;
  user-select: none;
}

p {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 1.75vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input[type=text] {
  display: block;
  height: 5vh;
  width: 100%;
  font-family: 'Montserrat-Medium';
  font-size: 2vh;
  color: #dfdfdf;
  // text-align: center;
  border: 0.1vh solid #dfdfdf;
  background: transparent;
  outline: none;
  opacity: 0.8;
  padding-left: 5.5vh;
  padding-right: 2vh;

  &:hover, &:focus {
    opacity: 1;
  }
}

input[type=range] {
  appearance: none;
  height: 0.3rem;
  background: transparent;
  outline: none;
  overflow: hidden;
  margin: 0;
  border-radius: 1vh;
  transition: height 0.1s ease-in-out;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 0;
    box-shadow: -100rem 0 0 100rem white;
  }

  &::-moz-range-thumb {
    appearance: none;
    width: 0;
    box-shadow: -100rem 0 0 100rem white;
  }

  &::-webkit-slider-runnable-track {
    height: 0.3rem;
    background-color: rgba(white, 0.35);
    transition: height 0.1s ease-in-out;
  }

  &::-moz-range-track {
    height: 0.3rem;
    background-color: rgba(white, 0.35);
    transition: height 0.1s ease-in-out;
  }

  &:not([disabled]):hover {
    height: 0.5rem;

    &::-webkit-slider-runnable-track {
      height: 0.5rem;
    }

    &::-moz-range-track {
      height: 0.5rem;
    }
  }
}

button {
  background: transparent;
  border: 0.1vh solid $text-color;
  height: 5vh;
  line-height: 2vh;
  font-family: 'Montserrat-Medium';
  font-size: 2vh;
  color: $text-color;
  padding: 0 2.5vh;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: $text-color;
    color: $background-color;
  }

  &:active {
    border-color: $background-color;
  }
}

ion-icon {
  vertical-align: -0.35vh;
}

.container {
  position: relative;
  height: calc(100% - #{$header-height} - #{$footer-height});
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip {
  transform: rotate(180deg);
}

.danger {
  color: #c72b2b;
}

.success {
  color: #64c72b;
}

.spin {
  animation: spinning 1s ease-in-out infinite;
}

@keyframes spinning {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 0.1s ease-in;
}

.fade-leave-active {
  transition: opacity 0.1s ease-in;
  opacity: 0;
}