@import './variables.scss';

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: url('assets/fonts/Montserrat/Montserrat-MediumItalic.ttf');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

::-webkit-scrollbar {
  height: 0.5vh;
  width: 0.75vh;
}

::-webkit-scrollbar-track {
  background-color: rgba($text-color, 0.1);
  border-radius: 0.75vh;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($text-color, 0.75);
  border-radius: 0.75vh;

  &:hover {
    background-color: $text-color;
  }
}

::selection {
  background-color: rgba($text-color, 0.35);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  background: url('./assets/img/dunes.svg'), url('./assets/img/stars.svg'), $background-gradient;
  background-repeat: no-repeat;
  background-position: center bottom, center 10%, center;
}

h1 {
  margin: 0;
  font-family: 'Montserrat-SemiBold';
  font-size: 8vh;
  font-weight: normal;
  letter-spacing: -0.15rem;
  color: $text-color
}

h2 {
  font-family: 'Montserrat';
  margin: 0;
  font-size: 3vh;
  font-weight: 700;
  text-transform: uppercase;
  user-select: none;
  color: $text-color
}

h3 {
  font-family: 'Montserrat-MediumItalic';
  font-size: 2.75vh;
  font-weight: normal;
  margin: 0;
  opacity: 0.75;
  color: $text-color
}

p {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 1.75vh;
  color: $text-color
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input[type=text] {
  height: 5vh;
  background-color: transparent;
  border: 0.3vh solid $accent-color;
  border-radius: 7vh;
  padding: 0 2.5vh;
  font-family: 'Montserrat-SemiBold';
  font-size: 2vh;
  color: white;
  text-transform: none;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
  outline: none;
  text-overflow: ellipsis;

  &.large {
    height: 7vh;
    width: 100%;
    padding: 0 3.5vh;
    font-size: 2.75vh;
  }

  &::placeholder {
    color: $text-color;
    opacity: 0.5;
  }

  &:hover, &:focus {
    opacity: 1;
  }
}

input[type=range] {
  appearance: none;
  height: 0.3rem;
  background: transparent;
  outline: none;
  overflow: hidden;
  margin: 0;
  border-radius: 1vh;
  transition: height 0.1s ease-in-out;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 0;
    box-shadow: -100rem 0 0 100rem white;
  }

  &::-moz-range-thumb {
    appearance: none;
    width: 0;
    box-shadow: -100rem 0 0 100rem white;
  }

  &::-webkit-slider-runnable-track {
    height: 0.3rem;
    background-color: rgba(white, 0.35);
    transition: height 0.1s ease-in-out;
  }

  &::-moz-range-track {
    height: 0.3rem;
    background-color: rgba(white, 0.35);
    transition: height 0.1s ease-in-out;
  }

  &:not([disabled]):hover {
    height: 0.5rem;

    &::-webkit-slider-runnable-track {
      height: 0.5rem;
    }

    &::-moz-range-track {
      height: 0.5rem;
    }
  }
}

button {
  height: 5vh;
  background-color: $accent-color;
  border: 0.3vh solid $accent-color;
  border-radius: 7vh;
  padding: 0 2.5vh;
  font-family: 'Montserrat-SemiBold';
  font-size: 2vh;
  color: white;
  text-transform: none;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  transition: all 0.1s ease-in-out;

  &.big {
    height: 7vh;
    padding: 0 4vh;
    font-size: 2.75vh;
  }

  &:hover {
    background: transparent;
  }

  &:active {
    border-width: 0;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1) inset;
    background-color: $accent-color;
  }
}

ion-icon {
  vertical-align: -0.35vh;
}

.container {
  position: absolute;
  top: $header-height;
  bottom: $footer-height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: auto;

  .inner {
    overflow: hidden;
    overflow-y: auto;

    &.center {
      display: flex;
      justify-content: center;
    }
  }
}

div[class^='col-'],
div[class*=' col-'] {
  display: inline-block;
  vertical-align: top;

  &:not(.no-border) {
    padding: 0 1.5vh;
  }
}

$columns: 12;
$ratio: 100% / $columns;

@for $i from 1 through $columns {
  .col-#{$i} {
    width: ($i * $ratio);
  }
}

$segment-height: 4vh;
.segments {
  margin-top: 2vh;
  margin-bottom: 1.5vh;
  padding-bottom: 0.5vh;
  white-space: pre;
  overflow: hidden;
  overflow-x: auto;
  user-select: none;

  li {
    height: $segment-height;
    line-height: $segment-height;
    display: inline-block;
    vertical-align: middle;
    padding: 0 2vh;
    border-radius: 1vh;
    margin-right: 1vh;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &.active {
      background-color: rgba(white, 0.1);
      font-weight: bold;
    }

    &:hover {
      background-color: rgba(white, 0.05);
    }
  }
}

.list {
  width: 100%;
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
  user-select: none;

  li {
    transition: all 0.1s ease-in-out;
    cursor: default;

    &.active {
      background-color: rgba($text-color, 0.1);
    }

    &:not(.active):hover {
      background-color: rgba($text-color, 0.05);
      cursor: pointer;

      &:active {
        background-color: rgba($text-color, 0.15);
      }
    }
  }
}

.flip {
  transform: rotate(180deg);
}

.danger {
  color: $danger-color;
}

.success {
  color: $success-color;
}

.accent {
  color: $accent-color;
}

.spin {
  animation: spinning 1s ease-in-out infinite;
}

.toasted-container {
  .toasted {
    height: 4vh;
    line-height: 4vh;
    border-radius: 4vh;
    font-family: 'Montserrat';

    &.success {
      background-color: $success-color;
    }
  }
}

@keyframes spinning {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade-router-enter-active, .fade-router-leave-active {
  position: absolute;
  transition: opacity .2s;
}
.fade-router-enter, .fade-router-leave-to {
  position: absolute;
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  body {
    background: $background-gradient !important;
  }

  .container {
    bottom: 0;
    align-items: unset;

    .inner {
      padding: 2.5vh !important;
      padding-top: 3vh !important;

      &.center {
        display: block;
      }
    }
  }

  footer {
    display: none;
  }

  div[class^='col'],
  div[class*=' col'] {
    display: block;
    width: 100% !important;
    padding: 0 !important;

    &:not(.no-border) {
      padding-bottom: 4vh !important;
    }
  }
}