$primary-color: #0b0913;
$accent-color: #befdeb;
$text-color: #FFFFFF;

$danger-color: #e94848;
$success-color: #64c72b;

$inner-width: 580px;
$header-height: 75px;
$header-height-mobile: 60px;
$chat-width: 330px;
$player-controls-height: 5rem;