$background-color: #00021C;
$background-gradient: linear-gradient(180deg, $background-color 0%, #292544 100%);
$text-color: #FFFFFF;
$accent-color: #FB4040;
$danger-color: #c72b2b;
$success-color: #64c72b;

$header-height: 9vh;
$footer-height: 90px;