$stream-icon-size: 7vh;

#stream {
    font-family: 'Montserrat';

    .meta {
        .poster {
            padding-left: 0;
            overflow: hidden;
            user-select: none;

            img {
                width: 100%;
                box-shadow: 0 0.5vh 1.5vh 0vh rgba(0, 0, 0, 0.5);
            }
        }

        .info {
            padding-right: 0;

            .title {
                font-size: 6vh;
                font-weight: 600;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-left: -0.25vh;
                margin-bottom: 0.5vh;
            }

            .year, .runtime {
                display: inline-block;
            }

            .year {
                font-size: 2vh;
                margin-bottom: 1vh;
            }

            .runtime {
                margin-left: 2.5vh;
            }

            .description {
                opacity: 0.5;
            }

            .genres {
                margin-top: 2vh;
                user-select: none;

                .genre {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 1vh;
                    margin-bottom: 1vh;
                    padding: 0.5vh 1.5vh;
                    border-radius: 3vh;
                    background-color: rgba(white, 0.1);
                }
            }
        }
    }

    .series {
        .segments {
            margin-top: 0;
        }

        .episodes {
            overflow: auto;

            .episode {
                display: flex;
                align-items: center;
                height: 4vh;
                padding: 0 1.5vh;

                .number {
                    font-family: 'Montserrat-SemiBold';
                    font-size: 1.75vh;
                    margin-right: 1vh;
                }

                .name {
                    font-size: 1.5vh;
                    white-space: pre;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    opacity: 0.5;
                }

                & > * {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }

    .streams {
        .streams-title {
            margin-bottom: 1vh;
        }

        .no-streams {
            height: 50vh;
            display: grid;
            align-items: center;
            justify-content: center;
            text-align: center;

            ion-icon {
                font-size: 7vh;
                margin-bottom: 1vh;
            }
        }

        ul {
            padding-right: 1vh;
            padding-bottom: 1vh;

            .stream {
                height: 10vh;
                display: grid;
                grid-template-columns: $stream-icon-size 9vh auto;
                column-gap: 1.5vh;
                padding: 1.5vh;
                border-radius: 1vh;
                overflow: hidden;
                user-select: none;

                .icon {
                    position: relative;
                    display: grid;
                    align-content: center;
                    height: $stream-icon-size;
                    width: $stream-icon-size;
                    border-radius: 2vh;
                    overflow: hidden;
                    background-color: rgba(white, 0.1);
                    
                    > * {
                        transition: opacity 0.1s ease-in-out;
                        transition-delay: 0.1s;
                    }

                    img {
                        width: 100%;
                    }

                    ion-icon {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        font-size: 4.5vh;
                        opacity: 0;
                    }
                }

                .name {
                    font-family: 'Montserrat-SemiBold';
                    font-size: 1.75vh;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    align-self: center;
                }

                .title {
                    white-space: pre;
                    overflow: hidden;
                    align-self: center;
                    font-size: 1.5vh;
                    text-overflow: ellipsis;
                    opacity: 0.5;

                    &.extend {
                        grid-column-start: 2;
                        grid-column-end: 4;
                    }
                }

                &:hover {
                    .icon {
                        img {
                            opacity: 0;
                        }

                        ion-icon.outline {
                            opacity: 1;
                        }
                    }

                    &:active {
                        .icon {
                            ion-icon.filled {
                                transition-delay: 0s;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        button {
            width: 100%;
        }
    }
}