$stream-icon-size: 7vh;

#stream {
    .inner {
        display: grid;
        grid-template-columns: 63% auto;
        column-gap: 3vh;
        width: 115vh;
    }

    .meta,
    .streams {
        display: inline-grid;
        vertical-align: top;
    }

    .meta {
        $column-gap: 3.5vh;
        grid-template-columns: 40% calc(60% - #{$column-gap});
        grid-column-gap: $column-gap;
        font-family: 'Montserrat';

        .poster {
            user-select: none;

            img {
                width: 100%;
                box-shadow: 0 0.5vh 1.5vh 0vh rgba(0, 0, 0, 0.5);
            }
        }

        .info {
            .title {
                font-size: 6vh;
                font-weight: 600;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-left: -0.25vh;
                margin-bottom: 0.5vh;
            }

            .year, .runtime {
                display: inline-block;
            }

            .year {
                font-size: 2vh;
                margin-bottom: 1vh;
            }

            .runtime {
                margin-left: 2.5vh;
            }

            .description {
                opacity: 0.5;
            }

            .genres {
                margin-top: 2vh;
                user-select: none;

                .genre {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 1vh;
                    margin-bottom: 1vh;
                    padding: 0.5vh 1.5vh;
                    border-radius: 3vh;
                    background-color: rgba(white, 0.1);
                }
            }

            .episodes {
                height: 28vh;
                overflow: auto;

                li {
                    display: flex;
                    align-items: center;
                    height: 4vh;
                    padding: 0 1.5vh;
                    border-radius: 0.5vh;
                    white-space: pre;
                    overflow: hidden;

                    .number {
                        font-size: 1.5vh;
                        font-weight: bold;
                        margin-right: 1vh;
                    }

                    & > * {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .streams {
        font-family: 'Montserrat';

        h2 {
            margin-bottom: 1vh;
        }

        ul {
            width: 100%;
            height: 50vh;
            padding-right: 1vh;
            padding-bottom: 1vh;
            overflow-x: hidden;
            overflow-y: auto;

            .no-streams {
                height: 100%;
                display: grid;
                align-items: center;
                justify-content: center;
                text-align: center;

                ion-icon {
                    font-size: 7vh;
                    margin-bottom: 1vh;
                }
            }

            .stream {
                height: 10vh;
                display: grid;
                grid-template-columns: $stream-icon-size 9vh auto;
                column-gap: 1.5vh;
                padding: 1.5vh;
                border-radius: 1vh;
                overflow: hidden;
                user-select: none;
                cursor: pointer;
                transition: all 0.1s ease-in-out;

                .icon {
                    position: relative;
                    display: grid;
                    align-content: center;
                    height: $stream-icon-size;
                    width: $stream-icon-size;
                    border-radius: 2vh;
                    overflow: hidden;
                    background-color: rgba(white, 0.1);
                    
                    > * {
                        transition: opacity 0.1s ease-in-out;
                        transition-delay: 0.1s;
                    }

                    img {
                        width: 100%;
                    }

                    ion-icon {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        font-size: 4.5vh;
                        opacity: 0;
                    }
                }

                .name {
                    font-family: 'Montserrat-SemiBold';
                    font-size: 1.75vh;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    align-self: center;
                }

                .title {
                    white-space: pre;
                    overflow: hidden;
                    align-self: center;
                    font-size: 1.5vh;
                    text-overflow: ellipsis;
                    opacity: 0.5;

                    &.extend {
                        grid-column-start: 2;
                        grid-column-end: 4;
                    }
                }

                &:hover {
                    background-color: rgba(100, 100, 100, 0.1);

                    .icon {
                        img {
                            opacity: 0;
                        }

                        ion-icon.outline {
                            opacity: 1;
                        }
                    }

                    &:active {
                        background-color: rgba(100, 100, 100, 0.2);

                        .icon {
                            ion-icon.filled {
                                transition-delay: 0s;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}