$stream-icon-size: 7vh;

#stream {
    .inner {
        display: grid;
        grid-template-columns: 63% auto;
        column-gap: 3vh;
        width: 115vh;
    }

    .meta,
    .streams {
        display: inline-grid;
        vertical-align: top;
    }

    .meta {
        grid-template-columns: 40% auto;
        grid-column-gap: 3.5vh;
        font-family: 'Montserrat';

        .poster {
            grid-row-start: 1;
            grid-row-end: 8;
            user-select: none;

            img {
                width: 100%;
                box-shadow: 0 0.5vh 1.5vh 0vh rgba(0, 0, 0, 0.5);
            }
        }

        .title {
            font-size: 6vh;
            font-weight: 600;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .year {
            font-size: 2vh;
        }

        .description {
            opacity: 0.5;
        }
    }

    .streams {
        font-family: 'Montserrat';

        h2 {
            margin-bottom: 1vh;
        }

        ul {
            width: 100%;
            height: 50vh;
            padding-right: 1vh;
            overflow-x: hidden;
            overflow-y: auto;

            .no-streams {
                height: 100%;
                display: grid;
                align-items: center;
                justify-content: center;
                grid-template-rows: 4.5vh 5vh;
            }

            .stream {
                height: 10vh;
                display: grid;
                grid-template-columns: $stream-icon-size 9vh auto;
                column-gap: 1.5vh;
                padding: 1.5vh;
                border-radius: 1vh;
                overflow: hidden;
                user-select: none;
                cursor: pointer;
                transition: all 0.1s ease-in-out;

                .icon {
                    display: grid;
                    align-content: center;
                    height: $stream-icon-size;
                    width: $stream-icon-size;
                    border-radius: 2vh;
                    overflow: hidden;
                    background-color: rgba(white, 0.1);

                    img {
                        width: 100%;
                    }
                }

                .name {
                    font-family: 'Montserrat-SemiBold';
                    font-size: 1.75vh;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    align-self: center;
                }

                .title {
                    white-space: pre;
                    overflow: hidden;
                    align-self: center;
                    font-size: 1.5vh;
                    text-overflow: ellipsis;
                    opacity: 0.5;
                }

                &:hover {
                    background-color: rgba(100, 100, 100, 0.1);
                }
            }
        }
    }
}